@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "CreateReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateReview</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <script>
        function createReview() {

            var review = {};
            review.ApplicationUserId = ("#userId").avl()
            console.log(review.ApplicationUserId);

            review.PostTitle = $("#title").val();
            console.log(review.PostTitle);

            review.PostBody = $("#body").val();
            console.log(review.PostBody);

            review.RestaurantOrPalce = $("#choices-restaurent").val();
            console.log(review.RestaurantOrPalce);

            review.Items = $("#choices-item").val();
            console.log(review.Items);

            review.tags = $("#choices").val();
            console.log(review.tags);

            review.IsOfferOrPlanned = $("#offered").val();
            console.log(review.IsOfferOrPlanned);

            review.IsRecommended = $("#recom").val();
            console.log(review.IsRecommended);

            review.Cleanliness = 1;

            review.Environment = 3;
            console.log(review.Environment);

            review.Food = 4;

            review.Service = 5;


            $.ajax({
                url: "api/Review/PostReviewPost",
                method: "POST",
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },
                contentType: "Application/Json;charset=utf-8",
                data: JSON.stringify(review),
                dataType: "Json",
                success: function (response) {
                    console.log("Posted")
                }

            });
        }
    </script>


    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" id="userId" name="custId" value=@User.Identity.GetUserId()>

            <div data-validate="Name is reauired">
                <span>Restaurent</span>
                <select id="choices-restaurent" class="select form-control" name="restaurent" multiple required></select>
            </div>

            <div data-validate="Name is reauired">
                <span>Title</span>
                <input id="title" class="textinput textInput form-control" type="text" name="title" maxlength="100" autofocus="" placeholder="Type your Name" required>
            </div>

            <div data-validate="Name is reauired">
                <span>Review Body</span>
                <textarea id="body" class="textarea form-control" name="body" cols="40" rows="10" placeholder="Type your Name" required></textarea>
            </div>
            <div>
                <span>Items</span>
                <select id="choices-item" placeholder="Select upto 5 tags" name="items" multiple required></select>
                <span>Tags</span>
                <select id="choices" placeholder="Select upto 5 tags" name="tags" multiple></select>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="offered">
                <label class="form-check-label" for="offered">Offered Food</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="recom">
                <label class="form-check-label" for="recom">Recommended</label>
            </div>
            <div>
                <button id="submit" type="submit" class="btn btn-info">Post</button>
            </div>
        </form>
    </div>




    <script src="~/Scripts/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            if (sessionStorage.getItem('accessToken') == null) {

                window.location.href = "http://localhost:55407/user/signin";
            }

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#errorModal').on('hidden.bs.modal', function () {
                window.location.href = "Login.html";
            });


            $.ajax({

                url: 'http://localhost:55407/api/Tag',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },

                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {

                        var tagOption = ('<option value=' + value.Id + '>' + value.Name + '</option>');
                        console.log(value.Name);
                        $('#choices').append(tagOption);

                    });
                    var multipleCancelButton = new Choices('#choices', {
                        removeItemButton: true,
                        maxItemCount: 5,
                        searchResultLimit: 5,
                        renderChoiceLimit: 5
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });



            $.ajax({

                url: 'http://localhost:55407/api/Item',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },

                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {

                        var tagOption = ('<option value=' + value.Id + '>' + value.Name + '</option>');
                        console.log(value.Name);
                        $('#choices-item').append(tagOption);

                    });
                    var multipleCancelButton = new Choices('#choices-item', {
                        removeItemButton: true,
                        maxItemCount: 5,
                        searchResultLimit: 5,
                        renderChoiceLimit: 5
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });


            $.ajax({

                url: 'http://localhost:55407/api/RestaurantOrPlace',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },

                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {

                        var tagOption = ('<option value=' + value.Id + '>' + value.ApplicationUser.Name + '</option>');
                        console.log(value.ApplicationUser.Name);
                        console.log(value.Id);
                        $('#choices-restaurent').append(tagOption);

                    });
                    var multipleCancelButton = new Choices('#choices-restaurent', {
                        removeItemButton: true,
                        maxItemCount: 1,
                        searchResultLimit: 5,
                        renderChoiceLimit: 10
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });


            $("#submit").click(function (e) {
                createReview();
                e.preventDefault();
            });


        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

}
