
@{
    ViewBag.Title = "GetReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetReviews</h2>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="col-md-10 col-md-offset-1">
    @*<div class="well">
            <input id="btnLoadEmployees" class="btn btn-success"
                   type="button" value="Load Employees" />
        </div>*@
    <div id="divData" class="well">
        <table class="table table-bordered" id="tblData">
            <thead>
                <tr class="success">
                    <td>Post User</td>
                    <td>Restaurent</td>
                    <td>Post Id</td>
                    <td>Post Title</td>
                    <td>IsOfferOrPlanned</td>
                    <td>IsRecommended</td>
                    <td>PostBody</td>
                    <td>Item</td>
                </tr>
            </thead>
            <tbody id="tblBody"></tbody>
        </table>
    </div>
    <div id="divErrorText1"></div>

    <script type="text/javascript">

        const review = ({ profileImage, author, restaurent, reviewDate, reviewImage, title, tags, items }) => `
            <article class="media content-section">
                <img class="rounded-circle article-img" src="${profileImage}">
                <div class="media-body">
                    <div id="author&restaurent" class="article-metadata" style="border:none;">
                        <a id="author" class="mr-2" href="">${author}</a> reviewed
                        <a id="restaurent" class="mr-2" href="">${restaurent} </a>
                        <small id="reviewdate" class="text-muted">${reviewDate}</small>
                    </div>
                    <div class="card" style="border:none;">
                        <div class="row ">
                            <div id="photo" class="col-md-3">

                                <img src="${reviewImage}" class="w-100">

                            </div>
                            <div class="col-md-9 px-1">
                                <div class="card-block px-1">
                                    <h4><a id="title" class="article-title" href="">${title}</a> </h4>
                                    <p id="body" class="article-content"></p>
                                    <div id="tag" class="row">

                                        <p class="article-content"></p>

                                    </div>

                                    <div class="'row">

                                        <p id="item" class="article-content" ></p>

                                    </div>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            `;
    </script>
    <ul class="list-items" id="listitems"></ul>


    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" href="#" class="close">&times;</a>
        <div id="divErrorText"></div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = "http://reviewbhai.somee.com/User/signin";
            }

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#errorModal').on('hidden.bs.modal', function () {
                window.location.href = "Login.html";
            });

            //$('#btnLoadEmployees').click(function () {
                $.ajax({
                    url: 'http://reviewbhai.somee.com/api/Review/GetReviewPosts',
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer '
                            + sessionStorage.getItem("accessToken")
                    },
                    success: function (data) {
                        $('#divData').removeClass('hidden');
                        $('#tblBody').empty();
                        $.each(data, function (index, value) {
                            var row = $('<tr><td>' + value.ApplicationUser.Name + '</td><td>'
                                + value.RestaurantOrPalce.Id + '</td><td>'
                                + value.Id + '</td><td>'
                                + value.PostTitle + '</td><td>'
                                + value.IsOfferOrPlanned + '</td><td>'
                                + value.IsRecommended + '</td><td>'
                                + value.PostBody + '</td><td>'
                                + value.Items[0].Name + '</td></tr>');
                            $('#tblData').append(row);
                            //$('#author').text(value.ApplicationUser.Name);
                            //$("#tag").append('<p id="author" class="mr-2">' + value.PostTitle +'</p>');
                            //$('#restaurent').text(value.RestaurantOrPalce.Id);
                            //$('#reviewdate').text(value.TimePosted);
                            //$('#photo').text(value.Photos.Id);
                            //$('#title').text(value.PostTitle);
                            //$('#body').text(value.PostBody);
                            //$('#tag').text(value.Tags[0].Name);
                            //$('#item').text(value.Items[0].Name);
                            //$('listitem').html(
                            //    //$.each(data, function (index, value) {
                            //[
                            //        //{ profileImage: '/foo', author: value.ApplicationUser.Name, restaurent: value.RestaurantOrPalce.Id, reviewDate: value.TimePosted, reviewImage: '/foo', title: value.PostTitle, tags: value.Tags[0].Name, items: value.Items[0].Name },
                            //        { profileImage: '/foo', author: 'Himu', restaurent: 'KFC', reviewDate: 'Oct 2nd', reviewImage: '/foo', title: 'XYZ XJHJK ', tags: 'bURGER', items: 'bURGER' },
                            //    //}
                            //        ]
                            //.map(review).join(''));
                            


                        });


                            
                        $.each(data, function (index, value1) {
                            var $output = $('#item');
                            for (var i = 0; i < value1.Items.length; i++) { $output.append($('<div>').html(value1.Items[i].Name)); }

                            var card = $('<article class="media content-section"> <img class="rounded-circle article-img" src=""> <div class="media-body">'
                                + '<div id="author&restaurent" class="article-metadata" style="border:none;">'
                                + '<a id="author" class="mr-2" href="">' + value1.ApplicationUser.Name + '</a> reviewed'
                                + '<a id="restaurent" class="mr-2" href="">' + ' ' + value1.RestaurantOrPalce.Id + ' </a>'
                                + '<small id="reviewdate" class="text-muted">' + value1.TimePosted + '</small>'
                                + '</div>'
                                + '<div class="card" style="border:none;">'
                                + '<div class="row ">'
                                + '<div id="photo" class="col-md-3">'

                                + '<img src="" class="w-100">'

                                + '</div>'
                                + '<div class="col-md-9 px-1">'
                                + '<div class="card-block px-1">'
                                + '<h4><a id="title" class="article-title" href="">' + value1.PostTitle + '</a> </h4>'
                                + '<p id="body" class="article-content">' + value1.PostBody + '</p>'
                                + '<div id="tag" class="row">'

                                + '  <p class="article-content">' + value1.Tags + '</p>'

                                + '</div>'

                                + '<div id="item" class="row">'

                                + ' <p id="item" class="article-content" ></p>'

                                    +'</div>'
                                   +' <a href="#" class="btn btn-primary">Read More</a>'
                                +'</div>'
                            +'</div>'
                       +' </div>'
                    +'</div>'
                +'</div>'
            +'</article>')
                        $('#listitems').append(card);

                            });


                    },
                    error: function (jQXHR) {
                        // If status code is 401, access token expired, so
                        // redirect the user to the login page
                        if (jQXHR.status == "401") {
                            $('#errorModal').modal('show');
                        }
                        else {
                            $('#divErrorText').text(jqXHR.responseText);
                            $('#divError').show('fade');
                        }
                    }


                });
            });
        //});
        //$('.list-items').html(
        //    //$.each(data, function (index, value) {
        //    [
        //        //{ profileImage: '/foo', author: value.ApplicationUser.Name, restaurent: value.RestaurantOrPalce.Id, reviewDate: value.TimePosted, reviewImage: '/foo', title: value.PostTitle, tags: value.Tags[0].Name, items: value.Items[0].Name },
        //        { profileImage: '/foo', author: 'Himu', restaurent: 'KFC', reviewDate: 'Oct 2nd', reviewImage: '/foo', title: 'XYZ XJHJK ', tags: 'bURGER', items: 'bURGER' },
        //        { profileImage: '/foo', author: 'Himu', restaurent: 'KFC', reviewDate: 'Oct 2nd', reviewImage: '/foo', title: 'XYZ XJHJK ', tags: 'bURGER', items: 'bURGER' },
        //        //}
        //    ].map(review).join(''));
</script>

